<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="de.lennartmeinhardt.game.colormatching">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false"/>

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>

    <application
        android:banner="@drawable/banner"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:isGame="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="lollipop"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ColorGameActivity"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            tools:targetApi="n">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:theme="@style/AboutActivityTheme">
        </activity>
    </application>

</manifest>